<h1><%= @room.room_number %></h1>
<%= button_to 'Back to Whiteboard', "/whiteboard/index", :method => "get" %> 
<br />

<%= render 'form' %>

<br />

<%=button_to 'Back to Whiteboard', "/whiteboard/index", :method => "get" %> 
