.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #fae5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fae5c0;
	box-shadow:inset 0px 1px 0px 0px #fae5c0;
	background-color:#ffce78;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #edc651;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 4px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ccaa54;
}.classname:hover {
	background-color:#fabe25;
}.classname:active {
	position:relative;
	top:1px;
}

#title{
	text-align:center;
}
#header {
	width:99.9%;
	background-color:#46438D;
	border-style:solid;
	border-width:1px;
	font-family:"Monotype Corsiva";
	font-size:40pt;
    color: white;
    border-color:black;
	
}
#menu{
	background-color:#416789; width:100%; 
	border-bottom-width:1px;
	border-bottom-style:solid;

}
.menutext{
	text-decoration:none;
	color:white;
    
	font-size:15pt;
	font-weight:bold;
	padding-left:54px;
}
#data{
	background-color:#E5E5EC;
	width:99%; 
	display:table-cell;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:19pt;
}
#news{
	background-color:white; 
	width:25%; 
	display:table-cell;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#bbb;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;	
}
#footer{
	background-color:#46438D; 
	width:100%;
	font-size:small;
	color:white;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
#outer{
	background-color:#FFF; 
	width:1300px; 
	margin:auto; 
	border-style:outset; 
	border-color:silver;

}
#twocol{	
	display:table; width:100%;
}
a{
	text-decoration:none;
	color:red;
}
a:hover{
	color:#A6914F;
}
body
{
	background-color:#D0D0D9;
}

table{

    border-style:solid;
	border-width:1px;

    }
td, th{

    padding-top:2px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:2px;
    text-align:center;
    height: 50px;
    }
tr{
    min-height:100em;
    border-style:solid;
    border-width:2px;
    color:#black;
    background-color:white;
    }
tr:hover{
    background-color:#585858;
    color:white;
    }
