
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>EWhiteboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= csrf_meta_tags %>
<script type="text/javaScript">
$(function(){  // $(document).ready shorthand

$('#yield').hide().fadeIn('slow');

});
	</script>
</head>
 <body>

    <ul class="noscreen">
      <li><a href="#content">Přeskočit na obsah</a></li>
      <li><a href="#mainMenu">Přeskočit na menu</a></li>
    </ul>

    <hr class="hidden" />

    <!-- View -  -->
    <div id="view">
      <!-- Header (logotype, search, menus) -->
      <div id="head">
        <h1 id="logotype">Medical Board</h1>
       
      </div><!-- // Header -->
      
      <hr class="hidden" />
      
      <!-- Main content -->
      <div id="content">
      <div id="yield">
        <%= yield %>
      </div>
    </div><!-- // View -->

  </body>
</html>



